{{- if .Values.rbac.create }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "flux-kcl-controller.fullname" . }}-manager
  labels:
    {{- include "flux-kcl-controller.labels" . | nindent 4 }}
rules:
- apiGroups:
  - krm.kcl.dev.fluxcd
  resources:
  - kclruns
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - krm.kcl.dev.fluxcd
  resources:
  - kclruns/finalizers
  verbs:
  - update
- apiGroups:
  - krm.kcl.dev.fluxcd
  resources:
  - kclruns/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - source.toolkit.fluxcd.io
  resources:
  - buckets
  - gitrepositories
  - ocirepositories
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - source.toolkit.fluxcd.io
  resources:
  - buckets/status
  - gitrepositories/status
  - ocirepositories/status
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "flux-kcl-controller.fullname" . }}-leader-election
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "flux-kcl-controller.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - configmaps/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "flux-kcl-controller.fullname" . }}-manager
  labels:
    {{- include "flux-kcl-controller.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "flux-kcl-controller.fullname" . }}-manager
subjects:
- kind: ServiceAccount
  name: {{ include "flux-kcl-controller.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
---
{{- if .Values.rbac.clusterAdmin }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "flux-kcl-controller.fullname" . }}-cluster-admin
  labels:
    {{- include "flux-kcl-controller.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
  - kind: ServiceAccount
    name: {{ include "flux-kcl-controller.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
---
{{- end }}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "flux-kcl-controller.fullname" . }}-leader-election
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "flux-kcl-controller.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "flux-kcl-controller.fullname" . }}-leader-election
subjects:
- kind: ServiceAccount
  name: {{ include "flux-kcl-controller.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
{{- end }}
